---
import merge from 'lodash.merge';
import type { ImageMetadata } from 'astro';
import Layout from '~/layouts/Layout.astro';

import { getStaticPathsEbooks } from '~/utils/blog';
import { findImage } from '~/utils/images';
import type { MetaData } from '~/types';
import Image from '~/components/common/Image.astro';

export const prerender = true;

export const getStaticPaths = async () => {
  const data = await getStaticPathsEbooks({ locale: 'en' });
  return data;
};

const { ebook } = Astro.props;
const image = (await findImage(ebook.image)) as ImageMetadata | string | undefined;

const metadata = merge({
  title: ebook.title,
  description: ebook.description,
  robots: {
    index: false,
    follow: false,
  },
  openGraph: {
    type: 'article',
    ...(image
      ? { images: [{ url: image, width: (image as ImageMetadata)?.width, height: (image as ImageMetadata)?.height }] }
      : {}),
  },
}) as MetaData;
---

<Layout metadata={metadata}>
  <div class="container mx-auto py-32">
    <div class="grid justify-items-center items-center lg:grid-cols-[25%_1fr] gap-24 max-w-5xl mx-auto min-h-[600px]">
      <div
        class="flex items-center justify-center w-full !px-0 lg:block relative h-0 pb-[56.25%] md:pb-[75%] md:h-72 lg:pb-[140%] overflow-hidden shadow-lg"
      >
        <div class="absolute inset-0 flex items-center justify-center">
          <Image
            src={ebook.image || ''}
            class="object-cover w-full h-full mb-6 shadow-lg"
            widths={[400, 400]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={ebook.title}
            aspectRatio="16:9"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
      <div class="text-center mt-6 lg:mt-0">
        <h1 class="text-5xl">{ebook.title}</h1>
        <p class="mt-10">{ebook.description}</p>

        <div set:html={ebook.formEmbedCode} />
      </div>
    </div>
    <div class="grid gap-10 lg:grid-cols-2 mt-20">
      <div>
        <h2 class="mt-6 text-3xl text-white sm:text-4xl lg:text-5xl lg:mt-8 !leading-relaxed">What's inside</h2>
        <p class="mt-8 text-primary">
          {ebook.whatsInsideDescription}
        </p>

        <ul class="list-disc ml-4 mt-8">
          {ebook.bulletPoints.map((point, index) => <li class="mt-2">{point}</li>)}
        </ul>

        <div set:html={ebook.formEmbedCode} />
      </div>
      <div class="flex items-center justify-center mt-6 lg:mt-0">
        {
          ebook.whatsInsideImage && (
            <Image
              src={ebook.whatsInsideImage || ''}
              class="object-cover w-full h-full mb-6 shadow-lg"
              widths={[400, 900]}
              width={900}
              sizes="(max-width: 900px) 400px, 900px"
              alt={ebook.title}
              aspectRatio="16:12"
              loading="lazy"
              decoding="async"
            />
          )
        }
      </div>
    </div>
  </div>
</Layout>
