---
export interface Props {
  footNote?: string;
  theme?: string;
}

const { theme = 'light' } = Astro.props;

import navigation from '@/data/navigation.json';
import Logo from '../Logo.astro';

let data = navigation.footerData;
if (Astro.currentLocale === 'de') {
  data = navigation.footerDataDE;
}
---

<footer
  class:list={[
    { dark: theme === 'dark' },
    'bg-page relative border-t border-gray-200 dark:border-slate-800 not-prose container mx-auto grid grid-cols-1 justify-items-center md:justify-items-start md:grid-cols-3 align-items-center ',
  ]}
>
  <ul class="flex flex-col py-8 md:py-12 text-center md:text-left">
    {
      data.links.map(({ text, href }) => (
        <li class="mb-2">
          <a class="  hover:underline  transition duration-150 ease-in-out" href={`/${Astro.currentLocale}${href}`}>
            <Fragment set:html={text} />
          </a>
        </li>
      ))
    }
  </ul>
  <div class="justify-self-center md:flex md:items-center md:justify-between py-6 md:py-8">
    {
      data.socialLinks?.length ? (
        <ul class="flex gap-2 ">
          {data.socialLinks.map(({ ariaLabel, href, icon }) => (
            <li>
              <a
                class=" focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                aria-label={ariaLabel}
                href={href}
                target="_blank"
              >
                <img src={icon} alt="" />
              </a>
            </li>
          ))}
        </ul>
      ) : (
        ''
      )
    }
  </div>
  <div class="flex items-center md:justify-self-end">
    <Logo />
    <!-- <Fragment set:html={footNote} /> -->
  </div>
</footer>
