---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Button from '~/components/ui/Button.astro';
import { Image } from 'astro:assets';
import FounderIcon from '~/assets/images/founder.svg';
import WashingtonIcon from '~/assets/icons/washington.svg';
import TechIcon from '~/assets/icons/tech.svg';
import BloombergIcon from '~/assets/icons/bloomberg.svg';
import GizmodoIcon from '~/assets/icons/gizmodo.svg';
import ForbesIcon from '~/assets/icons/forbes.svg';
import Services from '~/components/home/services/services.jsx';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-bg.webp', alt: 'AstroWind Hero Image' }}
  />
  <Services bookshop:live />

  <section class="py-12 bg-black-custom sm:py-16 lg:py-20 xl:py-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-8 lg:gap-x-16 xl:gap-x-24 gap-y-12">
        <div class="flex flex-col justify-between lg:col-span-5 xl:pr-24">
          <div class="max-w-lg lg:max-w-none">
            <p class="text-base font-semibold text-grey uppercase">LOREM IPSUM</p>
            <h2 class="mt-6 text-3xl text-white lg:mt-8 sm:text-4xl lg:text-5xl">Competence description</h2>
          </div>
        </div>

        <div class="lg:col-span-3">
          <Image
            inferSize={true}
            class="w-full editable"
            src="https://landingfoliocom.imgix.net/store/collection/saasui/images/features/8/feature-8.png"
            alt=""
          />
        </div>
      </div>
      <ul class="flex gap-10 flex-wrap lg:flex-nowrap mt-24">
        <li class="flex items-start gap-2">
          <svg
            class="w-6 h-6 text-primary shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <p class="ml-3text-white">
            Ut enim ad minima veniam, quis nostrum autem vel eum iure reprehenderit exercitem.
          </p>
        </li>
        <li class="flex items-start gap-2">
          <svg
            class="w-6 h-6 text-primary shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <p class="ml-3text-white">
            Ut enim ad minima veniam, quis nostrum autem vel eum iure reprehenderit exercitem.
          </p>
        </li>
        <li class="flex items-start gap-2">
          <svg
            class="w-6 h-6 text-primary shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <p class="ml-3text-white">
            Ut enim ad minima veniam, quis nostrum autem vel eum iure reprehenderit exercitem.
          </p>
        </li>

        <li class="flex items-start gap-2">
          <svg
            class="w-6 h-6 text-primary shrink-0"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <p class="ml-3text-white">Tincidunt pulvinar sodales. Quis tellus vel eget in nulla odio..</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="py-12 bg-page sm:py-16 lg:py-32">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto text-center">
        <p class="uppercase text-grey">lorem ipsum</p>
        <h2 class="mt-4 text-3xl sm:text-4xl xl:text-5xl">Reference applications</h2>
      </div>

      <ul
        class="grid grid-cols-1 mt-10 text-center md:mt-20 md:max-w-full sm:max-w-sm sm:mx-auto gap-y-10 md:grid-cols-3 md:gap-x-6 lg:gap-x-16 md:text-left"
      >
        <li>
          <h3 class="text-2xl font-bold font-sans">
            Tellus pharetra sit convallis vel <br class="hidden xl:block" /> fermentum dignissim cras in.
          </h3>
          <p class="mt-4 leading-7">Tellus pharetra sit convallis vel, fermentum dignissim cras in..</p>

          <Image
            inferSize={true}
            class="editable object-cover w-full mx-auto mt-10 rounded-xl md:mx-0"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/features-v2/3/feature.png"
            alt=""
          />
          <p class="leading-7 mt-7 text-grey">
            Consectetur adipis cing elit. Mattis a, tincidunt pulvinar sodales. Quis tellus vel eget in nulla odio.
            Tellus pharetra sit convallis vel, fermentum dignissim cras in.
          </p>
        </li>

        <li>
          <h3 class="text-2xl font-bold font-sans">
            Tellus pharetra sit convallis vel <br class="hidden xl:block" /> fermentum dignissim cras in.
          </h3>
          <p class="mt-4 leading-7">Tellus pharetra sit convallis vel, fermentum dignissim cras in..</p>

          <Image
            inferSize={true}
            class="editable object-cover w-full mx-auto mt-10 rounded-xl md:mx-0"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/features-v2/3/feature2.png"
            alt=""
          />
          <p class="leading-7 mt-7 text-grey">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. Mattis a, tincidunt pulvinar sodales. Quis tellus
            vel eget in nulla odio.
          </p>
        </li>

        <li>
          <h3 class="text-2xl font-bold font-sans">
            Tellus pharetra sit convallis vel <br class="hidden xl:block" /> fermentum dignissim cras in.
          </h3>
          <p class="mt-4 leading-7">Tellus pharetra sit convallis vel, fermentum dignissim cras in..</p>

          <Image
            inferSize={true}
            class="editable object-cover w-full mx-auto mt-10 md:mx-0 rounded-xl"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/features-v2/3/feature3.png"
            alt=""
          />
          <p class="leading-7 mt-7 text-grey">
            Mattis a, tincidunt pulvinar sodales. Quis tellus vel eget in nulla odio. Tellus pharetra sit convallis vel,
            fermentum dignissim cras in.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="text-white bg-black-custom py-32">
    <div class="max-w-lg lg:max-w-none flex items-center flex-col">
      <p class="text-grey uppercase">LOREM IPSUM</p>
      <h2 class="mt-6 text-3xl text-white lg:mt-8 sm:text-4xl lg:text-5xl">Application Description</h2>
    </div>
    <ul class="container px-5 pt-24 mx-auto flex flex-wrap">
      <li class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[0.2px] bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-primary text-white relative z-10 title-font font-medium text-sm"
        >
        </div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-page text-white rounded-full inline-flex items-center justify-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-12 h-12"
              viewBox="0 0 24 24"
            >
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font mb-1 text-xl">Quia dolor sit amet</h2>
            <p class="leading-relaxed">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
            </p>
          </div>
        </div>
      </li>
      <li class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[0.2px] bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-primary text-white relative z-10 title-font font-medium text-sm"
        >
        </div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-page text-white rounded-full inline-flex items-center justify-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-12 h-12"
              viewBox="0 0 24 24"
            >
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font mb-1 text-xl">Quia dolor sit amet</h2>
            <p class="leading-relaxed">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
            </p>
          </div>
        </div>
      </li>
      <li class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[0.2px] bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-primary text-white relative z-10 title-font font-medium text-sm"
        >
        </div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-page text-white rounded-full inline-flex items-center justify-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-12 h-12"
              viewBox="0 0 24 24"
            >
              <circle cx="12" cy="5" r="3"></circle>
              <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font mb-1 text-xl">Quia dolor sit amet</h2>
            <p class="leading-relaxed">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
            </p>
          </div>
        </div>
      </li>
      <li class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-[0.2px] bg-gray-200 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-primary text-white relative z-10 title-font font-medium text-sm"
        >
        </div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-page text-white rounded-full inline-flex items-center justify-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-12 h-12"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font mb-1 text-xl">Quia dolor sit amet</h2>
            <p class="leading-relaxed">
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- <section class="py-12 bg-page sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="grid items-center grid-cols-1 gap-8 md:grid-cols-3">
        <div>
          <img
            class="w-full md:hidden"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/top-logos.png"
            alt=""
          />
          <img
            class="hidden w-full lg:translate-y-12 md:block"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/left-logos.png"
            alt=""
          />
        </div>

        <div class="text-center">
          <p class="text-grey uppercase">LOREM IPSUM</p>

          <h2 class="mt-20 text-3xl sm:text-4xl xl:text-5xl">We build on</h2>
          <p class="mt-6">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia. Quis
            autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
          </p>
        </div>

        <div>
          <img
            class="w-full md:hidden"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/bottom-logos.png"
            alt=""
          />
          <img
            class="hidden w-full lg:translate-y-12 md:block"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/right-logos.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section> -->

  <section class="py-12 bg-page sm:py-16 lg:py-32 overflow-hidden">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="grid items-center grid-cols-1 gap-8 md:grid-cols-3">
        <div>
          <img
            class="parallax-img w-full md:hidden"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/top-logos.png"
            data-speed="0.27"
            alt=""
          />
          <img
            class="parallax-img hidden w-full lg:translate-y-12 md:block"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/left-logos.png"
            data-speed="0.27"
            alt=""
          />
        </div>

        <div class="text-center">
          <p class="text-gray-500 uppercase">LOREM IPSUM</p>
          <h2 class="mt-20 text-3xl sm:text-4xl xl:text-5xl">We build on</h2>
          <p class="mt-6">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia. Quis
            autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
          </p>
        </div>

        <div>
          <img
            class="w-full md:hidden"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/bottom-logos.png"
            alt=""
          />
          <img
            class="parallax-img hidden w-full lg:translate-y-12 md:block"
            data-speed="0.27"
            src="https://cdn.rareblocks.xyz/collection/clarity/images/integrations/3/right-logos.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="py-12 bg-black-custom sm:py-16 lg:py-20 xl:py-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-7 gap-x-20 gap-y-12">
        <div class="grid overflow-hidden bg-blue-100 lg:col-span-3 rounded-3xl place-items-end">
          <img
            class="w-full -mb-8"
            src="https://landingfoliocom.imgix.net/store/collection/saasui/images/features/9/feature-9.png"
            alt=""
          />
        </div>

        <div class="lg:col-span-4 xl:pr-24">
          <div class="max-w-lg lg:max-w-none">
            <p class="text-base uppercase">About Us</p>
            <h2 class="mt-6 text-3xl sm:text-4xl lg:mt-8 lg:text-5xl lg:pr-8 !leading-relaxed">
              About Us and References
            </h2>
            <Button
              variant="primary"
              class="mt-10 uppercase bg-primary !text-black px-12 border-none"
              text="call to action"
            />
          </div>

          <div class="pt-8 mt-12 border-t-[1px] border-grey md:mt-16 xl:mt-24">
            <p class="leading-7 xl:pr-24">
              “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare non sed est cursus. Vel hac convallis
              ipsum, facilisi odio pellentesque bibendum viverra tempus.”
            </p>
            <p class="mt-3 font-bold">Grandon Jones</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-12 bg-page sm:py-16 lg:py-24 xl:py-32">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-4xl">
      <div class="mx-auto text-center">
        <p class="text-sm tracking-widest uppercase">
          <span class="text-grey"> Lorem Ipsum </span>
        </p>
        <h2 class="mt-6 text-3xl text-white sm:text-4xl lg:text-5xl">Our founders</h2>
      </div>

      <ul class="mx-auto mt-12 space-y-20 sm:mt-16 lg:mt-20">
        <li class="items-center flex flex-col md:flex-row gap-10">
          <img class="object-cover rounded-full w-44 h-44 shrink-0" src={FounderIcon.src} alt="" />
          <div class="sm:ml-10">
            <div class="items-center flex flex-col md:items-start">
              <h3 class="text-xl font-bold text-white font-sans">Sebastian Eumann</h3>
            </div>
            <p class="mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu sodales id bibendum quis aliquam, quisque
              rhoncus. Dolor iaculis a vitae, at imperdiet. Aliquam sed quam blandit volutpat element.
            </p>
          </div>
        </li>

        <div class="w-full h-px bg-black-custom"></div>

        <li class="items-center flex flex-col md:flex-row gap-10">
          <img class="object-cover rounded-full w-44 h-44 shrink-0" src={FounderIcon.src} alt="" />
          <div class="sm:ml-10">
            <div class="items-center flex flex-col md:items-start">
              <h3 class="text-xl font-bold text-white font-sans">Sajad Surname</h3>
            </div>
            <p class="mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu sodales id bibendum quis aliquam, quisque
              rhoncus. Dolor iaculis a vitae, at imperdiet. Aliquam sed quam blandit volutpat element.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="py-20 bg-black-custom">
    <div class="container mx-auto flex flex-col md:flex-row items-center gap-32">
      <h2 class="text-md font-sans uppercase">Companies we have succesfully worked for</h2>
      <ul class="flex flex-col justify-center sm:flex-row flex-wrap gap-24">
        <li>
          <img class="min-w-fit h-6" src={WashingtonIcon.src} alt="" />
        </li>
        <li>
          <img class="min-w-fit h-6" src={TechIcon.src} alt="" />
        </li>
        <li>
          <img class="min-w-fit h-6" src={BloombergIcon.src} alt="" />
        </li>
        <li>
          <img class="min-w-fit h-6" src={GizmodoIcon.src} alt="" />
        </li>
        <li>
          <img class="min-w-fit h-6" src={ForbesIcon.src} alt="" />
        </li>
      </ul>
    </div>
  </section>

  <section class="relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <p class="lg:w-2/3 mx-auto leading-relaxed text-grey uppercase mb-10">Lorem Ipsum</p>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4">Contact Us</h1>
      </div>
      <form method="post" class="max-w-4xl mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm px-2">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="w-full bg-page bg-opacity-50 rounded border border-black-custom focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm px-2">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="w-full bg-page bg-opacity-50 rounded border border-black-custom focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm px-2">Message</label>
              <textarea
                id="message"
                name="message"
                class="w-full bg-page bg-opacity-50 rounded border border-black-custom focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              ></textarea>
            </div>
          </div>
          <input type="hidden" name="contact-us" value="contact-us" />
          <input type="text" name="_gotcha" style="display: none;" />

          <div class="p-2 w-full flex justify-center">
            <Button type="submit" variant="primary" class="mt-10 uppercase bg-primary !text-black px-12 border-none"
              >Call To Action</Button
            >
          </div>
        </div>
      </form>
    </div>
  </section>

  <script>
    document.addEventListener('scroll', function () {
      const parallaxImages: HTMLImageElement[] = Array.from(document.querySelectorAll('.parallax-img'));
      parallaxImages.forEach((img) => {
        const speed = img.getAttribute('data-speed') || '0.28';
        const offset = window.scrollY * parseFloat(speed) - window.innerHeight;
        img.style.transform = `translateY(${offset}px)`;
      });
    });
  </script>
</Layout>
